.dot {
    height: 8px;
    width: 8px;
    margin: 8px;
    border-radius: 50%;
}

.sub-header {
    position: relative;
    top: 3px;
    left: 0px;
    right: 0px;
}

// .list {
//     position: absolute;
//     top: 100px;
// }