#contentwithheader {
    #content {
        margin-top: 57px;
        background-color: #ffffff;
    }
    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

#contentwithheaderfooter {
    #content {
        margin-top: 57px;
        background-color: #ffffff;
    }
    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}