<md-content class="white-bg" layout="column" layout-align="center center" flex>
    <md-content class="mt-32 md-padding white-bg" layout="column" layout-align="center center">
        <i class="m-16 {{theme.icon_dark}}-fg fa {{data.empty.icon}} fa-4x light"></i>
        <span class=" m-16 md-title">{{data.empty.notify_text}}</span>
        <div ui-sref="app.home" layout="row" layout-align="center center" class="m-16 b {{theme.primary}}-900-border p-16 {{theme.primary}}-900-fg"> {{data.empty.button_text}}</div>
    </md-content>
</md-content>