<br><br><br>
<div flex="100" layout="row" layout-align="center center">
    <span class="font-weight-400 font-size-24">Refund Policy</span>
</div>
<hr flex="10">
<br><br>
<div flex-offset="10" flex="80" layout="row" class="font-weight-400 font-size-14 grey-600-fg"  layout-align="start center">
 <span>
     RETURNS
     <br>
Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.

To complete your return, we require a receipt or proof of purchase.
     <br>
     <br>
     <br>

REFUNDS (if applicable)     <br>


We will also notify you of the approval or rejection of your refund.
If you are approved, then your refund will be processed, and a credit will automatically be applied to your LeapWired wallet within a certain amount of days.
<br><br><br>
LATE OR MISSING REFUNDS (if applicable)     <br>

If you haven’t received a refund yet, check your LeapWired wallet again.
There is often some processing time before a refund is posted.
If you’ve still have not received your refund yet, please contact us at [info@leapwired.com].

 </span>
</div>
<br><br><br>